body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  padding: 10px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 50%;
  text-decoration: none;
  background-color: black;
  text-align: center;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/5 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
  text-align: center;
  background-color:blue;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 100.5s;
  animation-name: fade;
  animation-duration: 5.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.mySlides img {
	width: 100%;
	height: 250px;
}
.numbertext h1 {
	Color: white;
	font-weight: 600;
	margin-top: 30px;
}
.numbertext p {
	Color: white;
	font-size: 16px;
}
.numbertext button {
	font-size: 20px; 
	text-align: center;
	border: 1px solid white ; 
	color: white;
	background: none;
	margin-top: 50px;
	margin: 0px; 
	padding: 10px;
	width: 330px;
	margin-top: 70px;
	margin-bottom: 20px;
	border-radius: 5px;
}
button:hover{
	color: blue;
	background-color: white;
	transition: 1s;
}
.heading {
	text-align: center;
    color: #adadad;
    position: relative;
    display: block;
    top: 10px;
    padding: 20px;
}
.custom-circle span{
	width: 70px;
    height: 70px;
    border: 1px solid lightgray;
    border-radius: 100px;
    display: inherit;
    margin: auto;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s;
	font-size: 28px;	
}
.custom-circle span i{
	position: relative;
	top: 13px;
}
.puzzle span i{
	position: relative;
	top: 13px;
	left: 3px;
}

.puzzle span{
	border-color: #eb5534;
	background: #eb5534;
	color: white;
}
.puzzle span:hover{
	background: white;
	color: #eb5534;
	border-color: #eb5534;
}
.puzzle h3, .shield h3, .rocket h3, .thumbs-up h3 {
	font-size: 1.5rem;
    text-align: center;
    margin: 5px;
    color: #bfbfbf;
    padding: 0px;
}
.puzzle p, .shield p, .rocket p, .thumbs-up p {
	margin-top: 10px;
    margin-bottom: 1rem;
    font-size: 14px;
    margin: 10px;
    text-align: center;
    padding: 10px;
}
.btn button {
	background-color: black;
    color: white;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    float: right;
    position: relative;
    display: block;
    right: 40px;
    width: 200px;
}

.rocket span{
	color: white;
	background-color: #3a91de;
	transition: 0.5s;
}
.rocket span:hover{
	background: white;
	color: #3a91de;
	border-color: #3a91de;
	transition: 0.5s;
}
.shield span{
	color: white;
	background-color: #f2e63d;
	transition: 0.5s;
	border-color: #f2e63d;
}
.shield span:hover{
	background: white;
	color: #f2e63d;
	border-color: #f2e63d;
	transition: 0.5s;
}
.thumbs-up span{
	color: white;
	background-color: #35f0c7;
	transition: 0.5s;
	border-color: #35f0c7;
}
.thumbs-up span:hover{
	background: white;
	color: #35f0c7;
	border-color: #35f0c7;
	transition: 0.5s;
}
.row-box h1 {
	color: #afafaf;
}
.link-btn img {
	width: 30px;
    float: left;
    margin: 10px;
    padding: 0px;
}
.link-btn h3 {
	float: right;
    font-size: 1.25rem;
    text-align: center;
    margin: 13px;
	width: 175px;
}
.flex-column .nav-link {
	font-weight: 600;
    margin: 10px;
    padding: 10px;
    position: relative;
    display: block;
    top: 20px;
    left: 30px;
}
.fade {
	border: 10px solid #0d6efd;
}
.flex-column img {
	float: left;
    margin: 10px;
	position: relative;
    display: inline-block;
}
.d-flex {
	padding: 10px;
}
.logo img {
	margin: 25px;
    position: relative;
    display: block;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	left: 130px;
}
.logo img:hover{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.logo-linne2 {
	position: relative;
    bottom: 60px;
}
.logo {
	border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 50px;
}
.parallelogram {
	width: 170px;
    height: 50px;
    transform: skew(20deg);
    background: #525252;
    position: relative;
    bottom: 25px;
    right: 25px;
}
.parallelogram h5 {
	text-align: center;
    font-size: 1rem;
    color: white;
    font-weight: 600;
	position: relative;
    top: 15px;
}
.footer a{
	text-decoration: none;
    color: #ffffff66;
    position: relative;
    margin: 5px;
    padding: 0px;
    left: 20px;
    top: 5px;
    line-height: 30px;
}
.footer a:hover{
	color: #fff;
	text-shadow: 0 0 10px #fff,
				0 0 20px #fff,
				0 0 40px #fff,
				0 0 80px #fff,
				0 0 120px #fff;
}
.footer {
	background: #000023;
    color: white;
	margin: 0px;
    padding: 20px;
}
.footer h1{
	position: relative;
    display: block;
    margin: 15px;
    padding: 20px;
	font-weight: 900;
}

.shape {
	display: inline-block;
    width: 260px;
    height: 140px;
    border: 5px solid #32557f;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 10px;
    padding: 10px;
    margin-top: 20px;  
}
.shape p {
	float: right;
    position: relative;
    margin: 0px;
    padding: 0px;
}
.shape a {
	float: right;
    color: #d64242;
    position: relative;
    left: 10px;
    top: 0px;
}
.shape a:hover {
    color: #d64242;
	text-shadow: none;
}
.footer h5 {
	font-size: 1.25rem;
    margin: 10px;
    padding: 10px;
    position: relative;
    left: 7px;
}
.end-row {
	position: relative;
    top: 25px;
    margin: 5px;
    margin-top: 25px;
}
.end-row a {
	float: right;
    position: relative;
    left: 0px;
}
.end-row a:hover {
	text-shadow: none;
}
.icons-row {
	margin: 5px;
	padding: 5px;
}
.icons-row img {
	margin-left: 5px;
}

.navbar-brand {
	font-weight: 900;
	font-size: 34px;
}
.navbar-collapse ul li a {
	color: #172dcc;
}
.d-flex .btn {
	border: 1px solid blue;
	color: blue;
}
.d-flex .btn:hover {
	background: blue;
	color: white;
}
.d-flex .form-control {
	border: 1px solid blue;
	color: blue;
}
.d-flex .form-control placeholder {
	color: blue;
}
/* GitHub */






